services:
  portainer-app:
    image: portainer/portainer-ce:latest
    container_name: portainer-app
    hostname: portainer-app
    restart: unless-stopped

    user: "203:203"
    
    ports:
      - "8999:9000"
      - "9443:9443"
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - app_data:/data
    
    security_opt:
      - no-new-privileges:true

volumes:
  app_data:
